BODY {
	BACKGROUND-COLOR: #000000
}
BODY {
	FONT-SIZE: 12px; COLOR: #b2b0b2; FONT-FAMILY: Verdana
}
TD {
	FONT-SIZE: 12px; COLOR: #b2b0b2; FONT-FAMILY: Verdana
}
A.menu:link {
	COLOR: #494c53; TEXT-DECORATION: none
}
A.menu:visited {
	COLOR: #494c53; TEXT-DECORATION: none
}
A.menu:active {
	COLOR: #494c53; TEXT-DECORATION: none
}
A:link {
	COLOR: #c2773a; TEXT-DECORATION: none
}
A:visited {
	COLOR: #c2773a; TEXT-DECORATION: none
}
A:active {
	COLOR: #c2773a; TEXT-DECORATION: none
}
.td1 {
	BACKGROUND-COLOR: #424142
}
.td2 {
	BACKGROUND-COLOR: #000000
}
.td3 {
	BACKGROUND-COLOR: #ff9a00
}
.td4 {
	BACKGROUND-COLOR: #ffffff
}
.td5 {
	FONT-WEIGHT: bold; COLOR: #242424; BACKGROUND-COLOR: #ff9a00
}
.td6 {
	BACKGROUND-COLOR: #808080
}
.td7 {
	COLOR: #242424; BACKGROUND-COLOR: #b45431
}
.td8 {
	COLOR: #242424; BACKGROUND-COLOR: #808080
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #cccccc; FONT-FAMILY: Verdana
}
.i2l {
	margin-left: 2em;
}
.i4l {
	margin-left: 4em;
}
